<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,500&display=swap" rel="stylesheet">
    <title>Formulario</title>
</head>
<body>

    <h1>Formulario de Alta de alumnos y modificación de datos</h1>


    <fieldset class="out-fieldset"  enctype="multipart/form-data">
        <legend>Formulario</legend>

        <form th:object="${alumno}" th:action="@{/persistir}" method="post" enctype="multipart/form-data">

            <input type="hidden" th:field="*{id}">

            <img th:src="@{/images/} + ${alumno.foto}" th:alt="'Imagen del alumno : ' + ${alumno.nombre}" width="80px" height="100%"><br>
            <label for="foto">Foto</label>
            <input type="file"name="file" th:value="${foto}">


            <label for="nombre">Nombre: </label>
            <input type="text" id="nombre" th:field="*{nombre}">

            <label for="apellidos">Apellidos: </label>
            <input type="text" id="apellidos" th:field="*{apellidos}">

            <fieldset>
                <legend>Género: </legend>

                <label for="hombre">Hombre</label>
                <input type="radio" name="genero" id="hombre" value="HOMBRE" th:field="*{genero}">

                <label for="mujer">Mujer</label>
                <input type="radio" name="genero" id="mujer" value="MUJER" th:field="*{genero}">

                <label for="otro">Otro</label>
                <input type="radio" name="genero" id="otro" value="OTRO" th:field="*{genero}">
            </fieldset>

            <label for="fechaMatricula">Fecha de Matriculación: </label>
            <input type="date" id="fechaMatricula" th:field="*{fechaMatricula}">   

            <label for="totalAsignaturas">Total de asignaturas matriculadas: </label>
            <input type="text" id="totalAsignaturas" th:field="*{totalAsignaturas}">

            <label for="curso">Curso: </label>
            <select name="curso" id="curso">
                <option></option>
                <option th:each=" curso : ${cursos}"
                        th:value="${curso.id}"
                        th:text="${curso.descripcion}"
                        th:selected="${alumno.id != 0 and alumno.curso.id == curso.id}"></option>
            </select><br>



            <label for="telefonos">Telefono: </label>
            <input type="text" 
                    name="numerosTel" id="telefonos" 
                    th:value="${numerosTelefono}">

            <label for="correos">Correo: </label>
            <input type="text" 
                    id="correos" 
                    name="direccionesCorreo" 
                    th:value="${direccionesDeCorreo}"><br>


            <input class="btn" type="submit" value="Alta/Modificacion">

        </form>
    </fieldset>
    
</body>
</html>