<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,500&display=swap" rel="stylesheet">
    <title>Matriculas alumnado</title>
</head>
<body>

    <h1>Listado de alumnos matriculados</h1>

    <table enctype="multipart/form-data">
        <thead>
            <tr>
                <th>Foto</th>
                <th>Nombre: </th>
                <th>Apellidos: </th>
                <th>Género: </th>

                <!-- <th>Teléfono de contacto: </th>
                <th>Dirección de correo: </th> -->
                <th>Fecha de Matriculación: </th>
                <!-- <th>Curso: </th> -->
                <th>Total de asignaturas: </th>
            </tr>
        </thead>

        <tbody>
            <tr th:each=" alumno : ${alumnos}">
                <td class="fondofoto">
                    <img th:src="@{/images/} + ${alumno.foto}" th:alt="'Imagen del alumno : ' + ${alumno.nombre}" width="50px" height="100%">
                </td>
                <td th:text="${alumno.nombre}"></td>
                <td th:text="${alumno.apellidos}"></td>
                <td th:text="${alumno.genero}"></td>
                <td th:text="${alumno.fechaMatricula}"></td>
                <!-- <td th:text="${alumno.curso}"></td> -->
                <td th:text="${alumno.totalAsignaturas}"></td>
                <td>

                    <!-- <a th:href="@{/detalles/} + ${alumno.id}" target="_blank">Detalles</a> -->
                    <a th:href="@{/actualizar/} + ${alumno.id}" target="_blank">Actualizar</a>
                    <a th:href="@{/eliminar/} + ${alumno.id}">Eliminar</a>


                </td>
            </tr>
        </tbody>

        <div class="btn-group">
            <button><a th:href="@{/formAltaModificacion}" target="_blank">Formulario de Alta del alumno</a></button>
            <button><a th:href="@{/listadoAlumnosMañana}" target="_blank">Alumnos de la mañana</a></button>
            <button><a th:href="@{/listadoAlumnosCurso}" target="_blank">Alumnos clasificados por curso</a></button>
        </div>

    </table>
    
</body>
</html>