<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Listado de alumnos del turno de la mañana</h1>
    <table>
        <thead>
            <tr>
                <th>Foto</th>
                <th>Nombre: </th>
                <th>Apellidos: </th>
                <!-- <th>Curso: </th> -->
            </tr>
        </thead>

        <tbody>
            <tr th:each=" alumno : ${listaAlumnosMañana}">
                <td th:text="${alumno.nombre}"></td>
                <td th:text="${alumno.apellidos}"></td>
                <td th:text="${alumno.foto}"></td>
                <!-- <td th:text="${alumno.curso.descripcion}"></td> -->
                
            </tr>
        </tbody>
    </table>
</body>
</html>